{% extends 'layout.html.twig' %}

{% block title %} Home | {{ parent() }} {% endblock %}

{% block body_id %}main{% endblock %}

{% block body_app %}

    <div class="row">
        <div class="col-sm-3">
            <a class="btn btn-sm btn-block btn-default" data-toggle="modal" data-target="#">
                <i class="fa fa-plus fa-fw"></i> Ajouter un projet</a>
        </div>
    </div>

    {% if projects is defined and projects %}
        {% for project in projects %}
            <section>
                <h4 class="instance instance-title"><i class="fa fa-linux fa-fw"></i>
                    {{ project.name | capitalize }}
                    <form action="#" autocomplete="off">
                        <div class="pull-right hide btn-switch" id="notify_{{ project.id }}">
                            <input
                                    {% if project.isNotified == true %}
                                        checked
                                    {% endif %}
                                    class="hide"
                                    id="change_state"
                                    data-size="small"
                                    data-notify-id="{{ project.id }}"
                                    data-notify-name="{{ project.name }}"
                                    data-on="ENABLE NOTIFICATION" data-off="DISABLE NOTIFICATION"
                                    data-width="180"
                                    data-onstyle="success" data-offstyle="default"
                                    data-toggle="toggle"
                                    type="checkbox">
                        </div>
                    </form>
                </h4>

                {% if project.instances is not null %}
                    <table class="table table-hover table-instance" id="table-instance">
                        {% if project.type =="ec2" %}
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Instance ID</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Enabled</th>
                                <th>Started</th>
                                <th>Private IP</th>
                                <th>Public IP</th>
                                <th>VPC</th>
                                <th>Subnet</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for instance in project.instances if instance.instanceId is defined %}
                                <tr>
                                    <td><a data-toggle="collapse" href="#collapse-{{ instance.id }}"
                                           id="btn-collapse-{{ instance.id }}"
                                           aria-expanded="false"
                                           aria-controls="{{ instance.id }}"><i
                                                    class="fa fa-plus-circle"></i></a>
                                    </td>
                                    <td>
                                        {% if instance.instanceId is defined and  instance.instanceId %}
                                            {{ instance.instanceId }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{ instance.name }}</td>
                                    <td>
                                        {% if instance.state =="enable" %}
                                            <i class="fa fa-circle fa-fw text-success"
                                               aria-hidden="true"></i>{{ instance.state | capitalize }}

                                        {% elseif instance.state =="stopped" %}
                                            <i class="fa fa-circle fa-fw text-danger"
                                               aria-hidden="true"></i>{{ instance.state | capitalize }}

                                        {% else %}
                                            <i class="fa fa-circle fa-fw text-warning"
                                               aria-hidden="true"></i>{{ instance.state | capitalize }}

                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if instance.enabled %}
                                            <span class="label label-success"
                                                  aria-hidden="true"> Yes</span>

                                        {% else %}
                                            <span class="label label-danger"
                                            > No</span>{#{{ instance.enabled | capitalize }}#}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if instance.launchTime is defined and  instance.launchTime %}
                                            {{ instance.launchTime|date('d/m/y H:i:s') }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if instance.privateIpAddress is defined and  instance.privateIpAddress %}
                                            {{ instance.privateIpAddress }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if instance.publicIpAddress is defined and  instance.publicIpAddress %}
                                            {{ instance.publicIpAddress }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if instance.vpc is defined and instance.vpc %}
                                            <a href="#">{{ instance.vpc.vpcId }}</a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if instance.subnet is defined and  instance.subnet %}
                                            <a href="#">{{ instance.subnet.subnetId }}</a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="#"
                                           class=" btn btn-xs btn-default">
                                            <i class="fa fa-search fa-fw"></i>
                                           Logs
                                        </a>
                                        <a href="#"
                                           class=" btn btn-xs btn-default">
                                            <i class="fa fa-search fa-fw"></i>
                                            Enabled
                                        </a>
                                    </td>
                                </tr>
                                <tr id="collapse-{{ instance.id }}" class="collapse">
                                    <td class="td-collapse" colspan="6">
                                        <dl class="dl-horizontal table-dl-horizontal">
                                            <dt>ID d'instance</dt>
                                            <dd>{{ instance.instanceId }}</dd>
                                            <dt>État de l'instance</dt>
                                            <dd>
                                                {% if instance.state =="enable" %}
                                                    <i class="fa fa-circle fa-fw text-success"
                                                       aria-hidden="true"></i>{{ instance.state | capitalize }}

                                                {% elseif instance.state =="stopped" %}
                                                    <i class="fa fa-circle fa-fw text-danger"
                                                       aria-hidden="true"></i>{{ instance.state | capitalize }}

                                                {% else %}
                                                    <i class="fa fa-circle fa-fw text-warning"
                                                       aria-hidden="true"></i>{{ instance.state | capitalize }}

                                                {% endif %}
                                            </dd>
                                            <dt>Enabled</dt>
                                            <dd>
                                                {% if instance.enabled is defined and instance.enabled %}
                                                    <span class="label label-success"
                                                          aria-hidden="true"> Yes</span>

                                                {% else %}
                                                    <span class="label label-danger"
                                                    > No</span>
                                                {% endif %}
                                            </dd>

                                            <dt>Type d'instance</dt>
                                            <dd>{{ instance.instanceType }}</dd>

                                            <dt>Public IP (EIP)</dt>
                                            <dd>
                                                {% if instance.publicIpAddress is defined %}
                                                    {{ instance.publicIpAddress }}
                                                {% endif %}
                                            </dd>

                                            <dt>Private IP</dt>
                                            <dd>
                                                {% if instance.privateIpAddress is defined %}
                                                    {{ instance.privateIpAddress }}
                                                {% endif %}
                                            </dt>

                                            <dt>Groupes de sécurité</dt>
                                            <dd>
                                                <ul class="list-unstyled">
                                                    {% if instance.securityGroups is defined %}
                                                        {% for security in instance.securityGroups %}
                                                            <li>{{ security.GroupName }} ({{ security.GroupId }})</li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </dd>
                                            <dt>ID d'AMI</dt>
                                            <dd>
                                                {% if instance.imageId is defined %}
                                                    {{ instance.imageId }}
                                                {% endif %}
                                            </dd>
                                            <dt>Rôle IAM</dt>
                                            <dd>
                                                {% if instance.iamInstanceProfile is defined and instance.iamInstanceProfile.Arn is defined %}
                                                    {{ instance.iamInstanceProfile.Arn }}
                                                {% endif %}
                                            </dd>

                                            <dt>Nom de la paire de clés</dt>
                                            <dd>
                                                {% if instance.keyName is defined %}
                                                    {{ instance.keyName }}
                                                {% endif %}
                                            </dd>

                                            {% if instance.ebsOptimized is defined %}
                                                <dt>Optimisé pour EBS</dt>
                                                <dd>
                                                    {% if instance.ebsOptimized is defined  and instance.ebsOptimized %}
                                                        OUI
                                                    {% else %}
                                                        NON
                                                    {% endif %}
                                                </dd>
                                            {% endif %}

                                            {% if instance.rootDeviceType is defined %}
                                                <dt>Type de périphérique racine</dt>
                                                <dd>{{ instance.rootDeviceType }}</dd>
                                            {% endif %}

                                            {% if instance.rootDeviceType is defined %}

                                                <dt>Périphérique racine</dt>
                                                <dd>{{ instance.rootDeviceName }}</dd>
                                            {% endif %}

                                            {% if instance.blockDeviceMappings is defined %}
                                                <dt>Périphériques de stockage en mode bloc</dt>
                                                <dd>
                                                    {% if instance.blockDeviceMappings is defined and instance.blockDeviceMappings %}
                                                        <ul class="list-unstyled">
                                                            {% for block in instance.blockDeviceMappings %}
                                                                <li>{{ block.DeviceName }}</li>
                                                                {% if loop.index<loop.last %}
                                                                    <li> -</li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>

                                                    {% endif %}

                                                </dd>
                                            {% endif %}

                                        </dl>
                                    </td>
                                    <td class="td-collapse" colspan="6">
                                        <dl class="dl-horizontal table-dl-horizontal">
                                            {% if instance.publicDnsName is defined %}
                                                <dt>DNS public (IPv4)</dt>
                                                <dd>{{ instance.publicDnsName }}</dd>
                                            {% endif %}

                                            {% if instance.publicIpAddress is defined %}
                                                <dt>IP publique IPv4</dt>
                                                <dd>{{ instance.publicIpAddress }}</dd>
                                            {% endif %}

                                            {% if instance.privateDnsName is defined %}
                                                <dt>Private DNS</dt>
                                                <dd>{{ instance.privateDnsName }}</dd>
                                            {% endif %}
                                            {% if instance.privateIp is defined %}
                                                <dt>IP privées</dt>
                                                <dd>{{ instance.privateIp }}</dd>
                                            {% endif %}

                                            {% if instance.vpc is defined %}
                                                <dt>ID de VPC</dt>
                                                <dd><a href="#">{{ instance.vpc.vpcId }}</a></dd>
                                            {% endif %}
                                            {% if instance.subnet is defined %}
                                                <dt>ID de sous-réseau</dt>
                                                <dd><a href="#">{{ instance.subnet.subnetId }}</a></dd>
                                            {% endif %}

                                            {% if instance.subnet is defined %}
                                                <dt>Contrôle de la source / dest</dt>
                                                <dd>
                                                    {% if instance.subnet %}
                                                        OUI
                                                    {% else %}
                                                        NON
                                                    {% endif %}
                                                </dd>
                                            {% endif %}
                                        </dl>
                                    </td>
                                </tr>

                            {% else %}
                                <tr class="warning text-center bold text-danger">
                                    <td colspan="9"> Instance running not found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% elseif project.type =="other_instance" %}
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Customer</th>
                                <th>Nom</th>
                                <th>Status</th>
                                <th>Enabled</th>
                                <th>Private IP</th>
                                <th>Public IP</th>
                                <th>Host Name</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for instance in project.instances %}
                                <tr>
                                    <td>
                                        <a data-toggle="collapse" href="#{{ instance.id }}"
                                           id="btn-{{ instance.id }}"
                                           aria-expanded="false"
                                           aria-controls="{{ instance.id }}"><i
                                                    class="fa fa-plus-circle"></i>
                                        </a>
                                    </td>
                                    <td>
                                        {% if instance.customer is defined and instance.customer %}
                                            {{ instance.customer }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if instance.name is defined and instance.name %}
                                            {{ instance.name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if instance.state =="enable" %}
                                            <i class="fa fa-circle fa-fw text-success"
                                               aria-hidden="true"></i>{{ instance.state | capitalize }}

                                        {% elseif instance.state =="stopped" %}
                                            <i class="fa fa-circle fa-fw text-danger"
                                               aria-hidden="true"></i>{{ instance.state | capitalize }}

                                        {% else %}
                                            <i class="fa fa-circle fa-fw text-warning"
                                               aria-hidden="true"></i>{{ instance.state | capitalize }}

                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if instance.enabled %}
                                            <span class="label label-success"
                                                  aria-hidden="true"> Yes</span>

                                        {% else %}
                                            <span class="label label-danger"
                                            > No</span>{#{{ instance.enabled | capitalize }}#}
                                        {% endif %}
                                    </td>
                                    
                                    <td>
                                        {% if instance.privateId is defined and instance.privateId %}
                                            {{ instance.privateId }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if instance.publicId is defined and instance.publicId %}
                                            {{ instance.publicId }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if instance.hostName is defined and instance.hostName %}
                                            {{ instance.hostName }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="#"
                                           class=" btn btn-xs btn-block btn-default"><i class="fa fa-search fa-fw"></i>
                                            Voir
                                            logs
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                Data not found
                            {% endfor %}
                            </tbody>
                        {% else %}
                            Other instance: RDS; CloudFront ...
                        {% endif %}
                    </table>
                {% endif %}
            </section>

        {% else %}
            <div class="container">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-warning">
                        Data Not Found
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
