<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}AWS Management{% endblock %}</title>
    {#<link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">#}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body id="{% block body_id %}{% endblock %}">
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/js/common.js') }}"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
</body>
</html>
