{% extends 'base.html.twig' %}
{% block body_id 'main' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">

{% endblock %}

{% block header %}
    {% if app.user is defined and app.user %}
        {% set routeName = app.request.get('_route') %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{{ path('home_page') }}">AWS <span class="text">Management</span></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li {% if routeName == 'home_page' %}
                            class="active" {% endif %}>
                            <a href="{{ path('home_page') }}"><i class="fa fa-home"></i></a></li>
                        <li><a href="#about">Instances</a></li>
                        <li><a href="{{ path('certificate_index') }}">Certificates</a></li>
                        <li><a href="#contact">Backup</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Autres <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://github.com/upro">Github</a></li>
                                <li><a href="https://www.gitbook.com/@u-pro/teams">Gitbook</a></li>
                                <li><a href="">Lastpass</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="https://redmine.u-pro.fr">Redmine</a></li>
                                <li><a href="https://app.asana.com/-/login">Asanat</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown dropdown-extended dropdown-notification">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell fa-fw"></i>
                                <span class="badge badge-default"> 7 </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-list  scroller">
                                <li>
                                    <span class="time">Now</span>
                                    <span class="details">
                                    <a href="https://github.com/upro">
                                    <span class="label label-sm label-icon label-danger">
                                          <i class="fa fa-warning"></i></span> Certificates</a>
                                    </span>
                                </li>
                                <li>
                                    <span class="time">2 min</span>
                                    <span class="details">
                                    <a href="https://github.com/upro">
                                    <span class="label label-sm label-icon label-danger">
                                          <i class="fa fa-warning"></i></span> Certificates</a>
                                    </span>
                                </li>
                                <li>
                                    <span class="time">10 mins</span>
                                    <span class="details">
                                    <a href="https://github.com/upro">
                                    <span class="label label-sm label-icon label-info">
                                          <i class="fa fa-info"></i></span> Certificates</a>
                                    </span>
                                </li>

                            </ul>
                        </li>

                        <li {% if routeName =='security_logout' %} class="active" {% endif %}>
                            <a tabindex="0"
                               role="button" data-toggle="popover"
                               data-trigger="focus"
                               placement="bottom"
                               id="notification"
                            >
                                <i class="fa fa-warning fa-fw"></i></a>
                        </li>
                        <li {% if routeName =='security_logout' %} class="active" {% endif %}>
                            <a id=""
                               href="{{ path('home_page') }}" class="">
                                <i class="fa fa-code fa-fw"></i>
                                Crontab</a>
                        </li>
                        <li {% if routeName =='security_logout' %} class="active" {% endif %}>
                            <a id="" href="{{ path('home_page') }}" class="active"><i
                                        class="fa fa-link fa-fw"></i>
                                URL</a>
                        </li>
                        <li {% if routeName =='instance_cron' %} class="active" {% endif %}>
                            <a id="" class="spec-button"
                               href="{{ path('instance_cron') }}"
                               title="Log"> <i class="fa fa-terminal"></i> Log </a>
                        </li>
                        <li>
                            <a class="spec-button"
                               href="{{ path('security_logout') }}"
                               title="Déconnexion"> <i class="fa fa-power-off"></i> </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    {% endif %}


{% endblock %}

{% block body %}
    <div class="container">
        {% block alert %}
            <section>
                {% for key, flashs in app.session.flashBag.all %}
                    {% for flash in flashs %}
                        <div class="alert alert-{{ key }}">{{ flash|raw }}</div>
                    {% endfor %}
                {% endfor %}
            </section>
        {% endblock %}
        {% block body_app %}
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}

    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; UPro - {{ "now"|date("Y") }} </p>
                </div>
            </div>
        </footer>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/main.js') }}"></script>
{% endblock %}